# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
venv/
.venv/

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

data/*
!data/.gitkeep
!data/dataset_link.txt
.env
.env.local

# Model Files
*.pkl